@use "@/sass/helpers/variables" as *;
@use "@/sass/helpers/mixins" as *;

.gridContainer {
  @include grid-item(300px, 24px);
  padding: 24px 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 16px;
  }
}

.emptyState {
  @include flex-center;
  min-height: 300px;
  text-align: center;

  p {
    color: $accent-2;
    font-size: 1.8rem;
    font-weight: 500;
  }
}
